table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: rgba(230, 238, 255, 1);
  height: 67px;
  text-align: center;
}

tr {
  text-align: center;
}

tr:not(.row-head),
tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 82, 255, 0.16);
}
