@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: SFProDisplay;
  src: url("../fonts/SFPro/SFProDisplay-Black.ttf") format("truetype"),
    url("../fonts/SFPro/SFProDisplay-Black.woff2") format("woff2");
}

@font-face {
  font-family: SFProDisplayText;
  src: url("../fonts/SFProText/FontsFree-Net-SFProText-Regular.ttf");
}

h2,
h3,
h4 {
  font-family: SFProDisplay;
}

h5,
h6 {
  font-family: SFProDisplayText;
}

p,
h1 {
  font-family: Inter;
}

.h1 {
  font-size: 32px;
  line-height: 42px;
}

.h2 {
  font-size: 28px;
  line-height: 36px;
}

.h3 {
  font-size: 22px;
  line-height: 30px;
}

.h4 {
  font-size: 20px;
  line-height: 28px;
}

.h5 {
  font-size: 18px;
  line-height: 26px;
}

.h6 {
  font-size: 16px;
  line-height: 24px;
}

.p1 {
  font-size: 20px;
  line-height: 28px;
}

.p2 {
  font-size: 18px;
  line-height: 26px;
}

.p3 {
  font-size: 16px;
  line-height: 24px;
}

.p4 {
  font-size: 14px;
  line-height: 22px;
}
